/* *는전체 선택자이다. */
* {
    background-color: cyan;
}



h1, h2 {
    color: teal;
    background-color: rgb(41, 108, 233);
}

button {
    color: hotpink;
    background-color: cyan;
    font-size: 30px;
}

p {
    color: olive;
    background: #ffff32;
}

body {
    background-color: #55CCee;
}