h2 {
    color: teal;
    background-color: rgb(41, 108, 233);
}

button {
    color: hotpink;
    background-color: cyan;
}

p {
    color: olive;
    background: #ffff32;
}

body {
    background-color: #55CCee;
}