body {
    font-family: 'Sixtyfour', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: 5px solid #003049;
    /* div의 크기가 어떻든간에 이 상위 flexbox안에 있도록 만든다. */
    display: flex;
    /* flexbox에는 축이 두개가 있다 main axis, cross axis(x랑 y축처럼) */
    flex-direction: row;
    /* flexbox의 방향을 결정한다. */
    justify-content: center;
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* align-self: flex-end; */

}

#container div {
    width: 200px;
    height: 200px;
    max-width: 300px;
    text-align: center;
    font-family: fantasy;
    flex-basis: 600px;
    flex-grow: 1;
}

#container div:hover {
    width: 200px;
    height: 200px;
    transition: 0.5s;
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
}

/* (속기법) flex-basis, flex-grow, flex-shrink 이 3가지를 한번에 사용하는 표현법이 있다. */

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 3;
}

div:nth-of-type(5) {
    flex-grow: 2;
    flex-shrink: 0;
}

/* div:nth-of-type(2) {
    align-self: center;
}

div:nth-of-type(3) {
    align-self: flex-end;
} */

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    /* border: 2px solid */
    flex: 1 2 300px;
    /* 표현법 flex: grow shrink basis */
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}