section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* hex인 16진수 표현으로도 투명도 설정이 가능하다 */
    background-color: #00cca0be;
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.6;
}